@import "./reset.scss";
@import "./style.scss";
.flex {
	display: flex;
}
.center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.vertical-center {
	display: flex;
	align-items: center;
}

.horizontal-center {
	display: flex;
	justify-content: center;
}
.button-cancel {
	width: 100px;
	height: 40px;
	background: #f4f4f4;
	border-radius: 4px;
	color: $primary;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}
.button-define {
	width: 100px;
	height: 40px;
	background: linear-gradient(90deg, #6491d1 0%, #3458a4 100%);
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}
// 滚动条样式修改
.scroll-style {
	&::-webkit-scrollbar-track-piece {
		background-color: #f8f8f8;
	}
	&::-webkit-scrollbar {
		width: 6px !important;
		transition: all 2s;
	}
	&::-webkit-scrollbar-thumb {
		background-color: #dddddd;
		border-radius: 100px;
	}
	&::-webkit-scrollbar-thumb:hover {
		background-color: #bbb;
	}
	&::-webkit-scrollbar-corner {
		background-color: rgba(255, 255, 255, 0);
	}
}